.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 4%;
}

.logo {
  width: max(10%, 80px);
}

.navbar-right {
  display: flex;
  align-items: center;
  gap: 12px;
}

.logout-button {
  padding: 6px 12px;
  background-color: #ff4d4d;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
}

.logout-button:hover {
  background-color: #e60000;
}

.profile {
  width: 40px;
  border-radius: 50%;
}
